<h1>BLOG EDIT hbs</h1>

<h1>{{user.username}}</h1>
<h2>{{user.tagLine}}</h2>

<h1>Write about how you feel to help make sense of your emotions</h1>
<h2>
    <form method="post" action="/users/{{id}}/blog/{{blogID}}?_method=PATCH">
  <div>
    <label for="title">Blog Title</label>
    <input type="text" name="title" value="{{blog.title}}">
  </div>
     <div>
    <label for="words">Words</label>
    <input type="text" name="words" value="{{blog.words}}">
    </div>
<div>
<button class="btn" type="submit">Post</button>
</div>
</form>
