<h1>EDIT hbs</h1>
<h1>Edit {{user.username}}</h1>

<form action="/users/{{user.id}}?_method=PUT" method="PATCH">
  <div>
    <label for="name">User Name</label>
    <input type="text" name="name" value="{{user.username}}">
  </div>
  <div>
    <label for="email">Enter a valid email</label>
    <input type="text" name="email" value="{{user.email}}">
  </div>
  <div>
    <label for="current_mood">Current Mood</label>
    <input type="text" name="current_mood" value="{{user.current_mood}}">
  </div>
  <div>
    <label for="mood_goal">Mood Goal</label>
    <input type="text" name="mood_goal" value="{{user.mood_goal}}">
  </div>
  <button type="submit">Update account</button>
  <button><a href="/users/{{user.id}}">cancel</a></button>
</form>
<a href="/users/{{id}}">Back to {{user.username}}'s Profile</a>
