<h1>EDIT hbs</h1>
<h1>Edit {{user.username}}</h1>


<form method="POST" action="/users/{{id}}?_method=PATCH">
  <div>
    <label for="name">User Name</label>
    <input type="text" name="name" value="{{user.username}}">
  </div>

  <div>
    <label for="email">Enter a valid email</label>
    <input type="text" name="email" value="{{user.email}}">
  </div>

  <div>
    <label for="profile">A little About Yourself</label>
    <input type="text" name="profile" value="{{user.profile}}">
  </div>
  
  <input type="submit" value="Update account">
</form>
<button><a href="/users/{{user.id}}">cancel</a></button>
<a href="/users/{{id}}">Back to {{user.username}}'s Profile</a>
