<h1>Zen Member</h1>

<ul>
  {{#each users}}
    <li><a href="/users/{{_id}}" >{{username}}</a></li>
    <li>{{current_mood}}</li>
    <li>{{mood_goal}}</li>
  {{/each}}
</ul> 



<a href="./{{whisky.id}}/edit">Edit Me</a>
    <form method="POST" action="./{{whisky.id}}?_method=DELETE">
        <button class="delete" type="submit">Delete This Whisky</button>
    </form>
    </div>
<a href="/users/new">New user</a>
<button type="submit">New User</button>