<h1>SHOW hbs</h1>
<h1>{{user.username}}</h1>

<h3>current mood: {{user.current_mood}}</h3>
<h3>mood goal: {{user.mood_goal}}</h3>
<h3>Feelings Blog:{{user.blog}}</h3>

<button class="btn">
    <a href="/users">Back to the Den</a>
<div>
<button class="btn">
  <a href="/about">About Zen Den</a>
</div>

{{!-- <ul>
  {{#each user.sodas}}
    <li>{{name}}</li>
  {{/each}}
</ul> --}}
{{!-- <a href="/user/{{user._id}}/sodas">Go To Sodas Page</a>
<br>
<a href="/companies/{{company._id}}/edit">Edit {{company.name}}</a>

<form action="/companies/{{company.id}}?_method=DELETE" method="post">
  <button type="submit">Delete {{company.name}}</button>
</form>

<a href="/companies">Back To All Companies</a> --}}
