

<h1>SHOW hbs</h1>
<h1>{{user.username}}</h1>
<h2>{{user.tagLine}}</h2>
<h2>{{user.email}}</h2>


<h3>Profile: {{user.profile}}</h3>
<form method="PATCH" action="/users/{{user._id}}"></form>
<h3>Select Current Mood:</h3>
  <select id="dropCurrentMood" name="currentMood">
    <option value=""></option>
    <option value="happy">Happy</option>
    <option value="sad">Sad</option>
    <option value="angry">Angry</option>
    <option value="frustrated">Frustrated</option>
  </select>

<h3>Select Mood Goal:</h3>
  <select id="dropMoodGoal" name="moodGoal">
    <option value=""></option>
    <option value="happy">Happy</option>
    <option value="optimistic">Optimistic</option>
    <option value="loving">Loving</option>
    <option value="calm">Calm</option>
  </select>

<h3>Help me achieve Zen::</h3>
<p>if selected current mood equals selected mood goal then show 'you have achieved zen'. if a value is blank reply with please select CM and MG.</p>
  {{!-- <button class="btn" 
  onclick="zenAdvice" prompt="advice">
  use below to run advice pool?
  $('select').children(':selected').text()
  <a href="/users/{{user._id}}"></a>advice</button> --}}
</form>


<h3> Most Current Blog Post: **reach add most current blog post here</h3>

<h3>Feelings Blog:{{user.blog}}</h3>

<div>
  <button class="btn">
      <a href="/users/{{user._id}}/edit">Edit Profile</a>
  </button>
</div>
<div>
<break>
<button class="btn">
    <a href="/users">Back to the Den</a>
    </button>
</div>
<div>
  <break>
  <button class="btn">
    <a href="/users/{{user._id}}/blogs">Write it out in the Blog Den</a>
    </button>
</div>

<form action="/users/{{user._id}}?_method=DELETE" method="post">
  <input type="submit" value="Remove {{user.username}} from Zen Den Members"/>
</form>


<button class="btn">
  <a href="/about">About Zen Den</a>
  </button>


{{!-- <ul>
  {{#each user.sodas}}
    <li>{{name}}</li>
  {{/each}}
</ul> --}}
{{!-- <a href="/user/{{user._id}}/sodas">Go To Sodas Page</a>
<br>
<a href="/companies/{{company._id}}/edit">Edit {{company.name}}</a>

<form action="/companies/{{company.id}}?_method=DELETE" method="post">
  <button type="submit">Delete {{company.name}}</button>
</form>

<a href="/companies">Back To All Companies</a> --}}
