<style>
  .user-show{
    background: url("/images/deniz-altindas-38128-unsplash.jpg");
    background-size: cover;
    font-style: bold;

  h1 {
    font-style:bold;
  }
</style>

<div class="user-show">
{{!-- <img src="/images/deniz-altindas-38128-unsplash.jpg" alt="userimg" height=200vh width=300vw> --}}
<h1>{{user.username}}</h1>
<h2>{{user.tagLine}}</h2>
<h2>{{user.email}}</h2>
</div>

<div class="dropItDown">
  <h3>Profile: {{user.profile}}</h3>
  <form method="post" action="/users/{{user._id}}/mood?_method=PATCH">
  <h2>Current Mood:</h2>
  <h3>{{user.current_mood}}</h3>
    <select id="dropCurrentMood" name="currentMood">
      <option value="pick1">Select Current Mood Dropdown:</option>
      <option value="happy">Happy</option>
      <option value="sad">Sad</option>
      <option value="angry">Angry</option>
      <option value="frustrated">Frustrated</option>
    </select>
<br>
<h2>Mood Goal: </h2>
    <h3>{{user.mood_goal}}</h3>
    <select id="dropMoodGoal" name="moodGoal">
      <option value="pick1">Select Mood Goal Dropdown:</option>
      <option value="happy">Happy</option>
      <option value="optimistic">Optimistic</option>
      <option value="loving">Loving</option>
      <option value="calm">Calm</option>
    </select>

    <button type="submit">Submit Moods</button>
  </form>
</div>

{{!--
<button type="submit">Submit Moods for Zen Advice:</button>
<h3>Advice:</h3>
<p>WILL NEED AN ADVICE CONTROLLER: if selected current mood equals selected mood goal then show 'you have achieved zen'. if
  a value is blank reply with please select CM and MG.</p> --}} {{!--
<button class="btn" onclick="zenAdvice" prompt="advice">
  use below to run advice pool? $('select').children(':selected').text()
  <a href="/users/{{user._id}}"></a>advice</button> --}} {{!--
<h3> Most Current Blog Post: **reach add most current blog post here</h3>

<h3>Feelings Blog:{{user.blogs}}</h3> --}}

<div>
  <button>
    <a href="/users/{{user._id}}/edit">Edit Profile</a>
  </button>
</div>
<div>
  <button>
    <a href="/users/{{user._id}}/blogs">Write it out in the Blog Den</a>
  </button>
</div>
<div>
  <button>
    <a href="/users">Back to the Den</a>
  </button>
</div>

<form action="/users/{{user._id}}?_method=DELETE" method="post">
  <input type="submit" value="Remove {{user.username}} from Zen Den Members" />
</form>


{{!--
<button class="btn">
  <a href="/about">About Zen Den</a>
</button> --}} {{!--
<ul>
  {{#each user.sodas}}
  <li>{{name}}</li>
  {{/each}}
</ul> --}} {{!--
<a href="/user/{{user._id}}/sodas">Go To Sodas Page</a>
<br>
<a href="/companies/{{company._id}}/edit">Edit {{company.name}}</a>

<form action="/companies/{{company.id}}?_method=DELETE" method="post">
  <button type="submit">Delete {{company.name}}</button>
</form>

<a href="/companies">Back To All Companies</a> --}}